@{
    ViewBag.Title = "Hermes Bar PDV";
    Layout = "~/Views/Shared/_LayoutPdv.cshtml";
    var session = (MODEL.PDV.PayBox.PayBoxModel)Session["PDV"];
}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>PDV</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/Pdv/Index">Home</a></li>
                </ol>
            </div>
        </div>
        
    </section>
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div id="c-slide" class="carousel slide auto panel-body">
                        <ol class="carousel-indicators out">
                            <li class="" data-slide-to="0" data-target="#c-slide"></li>
                            <li class="active" data-slide-to="1" data-target="#c-slide"></li>
                            <li class="" data-slide-to="2" data-target="#c-slide"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item text-center">
                                <h3>Consulte as operações</h3>
                                <small class="">Consulte o menu Operações e efetue sangria, reforços e fechamento</small>
                            </div>
                            <div class="item text-center active">
                                <h3><i class="icon_plus_alt2"></i> Informações Gerais</h3>
                                <small class="">Todo o fluxo da aplicação é baseada na movimentação do PDV</small>
                            </div>
                            <div class="item text-center">
                                <h3>Para mais informações</h3>
                                <small class="">Acesse a documentação do sistema</small>
                            </div>
                        </div>
                        <a data-slide="prev" href="#c-slide" class="left carousel-control">
                            <i class="arrow_carrot-left_alt2"></i>
                        </a>
                        <a data-slide="next" href="#c-slide" class="right carousel-control">
                            <i class="arrow_carrot-right_alt2"></i>
                        </a>
                    </div>
                </section>
                <section class="panel">
                    <header class="panel-heading">
                        PDV (acesso rápido)
                    </header>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-md-3">
                                @if (session.Aberto)
                                {
                                    @Html.ActionLink("Abrir Caixa", "AbrirCaixa", "Pdv", new { @class = "btn btn-primary btn-lg btn-block", @disabled="disabled" })
                                }
                                else
                                {
                                    @Html.ActionLink("Abrir Caixa", "AbrirCaixa", "Pdv", new { @class = "btn btn-primary btn-lg btn-block" })
                                }
                            </div>
                            <div class="col-md-3">
                                @if (session.Aberto)
                                {
                                    @Html.ActionLink("Fechar Caixa", "FecharCaixa", "Pdv", new { @class = "btn btn-primary btn-lg btn-block" })
                                }
                                else
                                {
                                    @Html.ActionLink("Fechar Caixa", "FecharCaixa", "Pdv", new { @class = "btn btn-primary btn-lg btn-block", @disabled="disabled" })
                                }
                            </div>
                            <div class="col-md-3">
                                @if (session.Aberto)
                                {
                                    @Html.ActionLink("Entrada Cliente", "EntradaCliente", "Pdv", new { @class = "btn btn-primary btn-lg btn-block" })
                                }
                                else
                                {
                                    @Html.ActionLink("Entrada Cliente", "EntradaCliente", "Pdv", new { @class = "btn btn-primary btn-lg btn-block", @disabled = "disabled" })
                                }
                            </div>
                            <div class="col-md-3">
                                @if (session.Aberto)
                                {
                                    <button type="button" class="btn btn-primary btn-lg btn-block">Saída cliente</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled">Saída cliente</button>
                                }
                            </div>
                        </div>
                    </div>
                </section>
                

</section>
