@{
    var Model = new MODEL.Commom.LayoutModel();
    Model.List = new List<MODEL.Commom.LayoutModel>();
    if (ViewBag.Email != null)
    {
        Model = (MODEL.Commom.LayoutModel)ViewBag.Email;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/img/favicon.png">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/content/bootstrap")
    @Styles.Render("~/content/bootstrap-theme")
    @Styles.Render("~/content/elegante-icons")
    @Styles.Render("~/content/font-awesome")
    @Styles.Render("~/content/style")
    @Styles.Render("~/content/responsive")
    @Styles.Render("~/content/sweetalert")
    @Styles.Render("~/content/calendar")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <script src="js/lte-ie7.js"></script>
    <![endif]-->

</head>
<body>
    <div class="modal"><!-- Place at bottom of page --></div>
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
            </div>
            <a href="/Home/Index" class="logo">Hermes <span class="lite">Bar</span></a>
            <div class="nav search-row" id="top_menu">
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Pesquisar" type="text">
                        </form>
                    </li>
                </ul>
            </div>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">
                    <li id="mail_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope-l"></i>
                            <span class="badge bg-important" id="Quantidade-Email"></span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue" id="Quantidade-Email-Aviso"></p>
                            </li>
                                <li id="Infos-Email">
                                    
                                </li>
                                <li>
                                    <a href="#" id="Verificar-Email">Você não possui e-mails no momento</a>
                                </li>
                        </ul>
                    </li>
                    <li id="alert_notificatoin_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-bell-l"></i>
                            <span class="badge bg-important" id="quant-produto-baixa"></span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <div class="notify-arrow notify-arrow-blue"></div>
                            <li>
                                <p class="blue">Produtos com baixa</p>
                            </li>
                            <li id="produtos-baixa">

                            </li>
                            <li id="nao-produto-baixa">
                                <a href="#">
                                    <span class="label label-primary"><i class="icon_profile"></i></span>
                                    Você não possui produtos com baixa em estoque
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="http://www.themosthauntedforum.com/styles/Cynthia/theme/images/no_avatar.gif" width="20%;">
                            </span>
                            <span class="username">@ViewBag.User</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> Meu Perfil</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_mail_alt"></i> Meu E-mail</a>
                            </li>
                            <li>
                                <a href="#" id="tela-cheia"><i class="icon_desktop"></i> Tela Cheia</a>
                            </li>
                            <li>
                                <a href="/Login/EfetuarLogoff"><i class="icon_key_alt"></i> Sair</a>
                            </li>
                            <li>
                                <a href="documentation.html"><i class="icon_documents_alt"></i> Documentação</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu">
                    <li class="">
                        <a class="" href="/Home/Index">
                            <i class="icon_house_alt"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Cadastros</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Fornecedores","Get","Fornecedor")</li>
                            <li>@Html.ActionLink("Produtos","Get","Produto")</li>
                            <li>@Html.ActionLink("Clientes","Get","Cliente")</li>
                            <li>@Html.ActionLink("Agenda","Consultar","Agenda")</li>
                            <li>@Html.ActionLink("Funcionários","Get","Funcionario")</li>
                            <li>@Html.ActionLink("Lista de Compras","Get","ListaCompras")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_desktop"></i>
                            <span>Estabelecimento</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Configurações","Configuracoes","Estabelecimento")</li>
                            <li><a class="" href="general.html">Vendas</a></li>
                            <li>@Html.ActionLink("Estoque","Consultar","Estoque")</li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_table"></i>
                            <span>Financeiro</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="basic_table.html">Contas a Pagar</a></li>
                            <li><a class="" href="basic_table.html">Contas a Receber</a></li>
                            <li><a class="" href="basic_table.html">Controle</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu ">
                        <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>
                            <span>Sistema</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Usuários","Get","Usuario")</li>
                            <li><a class="" href="login.html"><span>Perfil</span></a></li>
                            <li><a class="active" href="blank.html">Log</a></li>
                            <li><a class="" href="404.html">Consultar Banco</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu ">
                        <a href="javascript:;" class="">
                            <i class="icon_documents_alt"></i>
                            <span>PDV</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li>@Html.ActionLink("Iniciar PDV","Index","Pdv")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
       @RenderBody()
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scrollTo")
    @Scripts.Render("~/bundles/niceScroll")
    @Scripts.Render("~/bundles/jqueryMask")
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/sweetalert")
    <script src="~/Scripts/moment.min.js"></script>
    @*@Scripts.Render("~/bundles/moment")*@
    @Scripts.Render("~/bundles/calendar")
    <script src="~/Scripts/lang-all.js"></script>
    @Scripts.Render("~/bundles/hma")
    <script>
    if ($(".custom-custom-bar-chart")) {
        $(".bar").each(function () {
            var i = jQuery(this).find(".value").html();
            $(this).find(".value").html("");
            $(this).find(".value").animate({
                height: i
            }, 2000)
        })
    }
    </script>
</body>
</html>
